* 
{
    margin:0px;
    padding:0px;
}



header{
  width: 100%;
  height: 180px;
  background: ;
  position: relative;
}


header img{
width: 180px;
height: 138px;
float: right;
margin-right: 3%;
margin-top: 1%;
display: block;
}

.header_text{
  width: 63%;
  height:auto;
  text-align: center;
  font-size: 2rem;
  margin-left: 15%;
  display: inline;
}


#mainn
{
	margin: auto;
	width: 240px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;

}
#mainn ul {
 
  width: 100%;
  height:auto;
  background:;
list-style: none;
height: 60%;
margin-top: 5%;
}
#mainn ul li{
 
  width: 100%;
margin-top: 16%;
padding: 1px;
font-family: initial;
color: #fff;
}
.t_aside{
  color:#fff;
  width: 100%;
  height:35px;
  background:#004669;
}
.t_aside p{
   margin-top: 4%;
  display: inline-block;
  font-family: cursive;
}

nav{
  width: 100%;
  height: 61px;
  background: #004669;
}
 #nav{
  width: 44%;
  height: 61px;
  background: #004669;
  margin-left: 25%;
}
 #nav li {
  display: block;
  float: right;
width: 20%

}

#nav li a{
  float: right;
  height: 61px;
  width:100%;
  background: #004669;
  margin-left: 5px;
  text-decoration: none;
  transition: 1s background;

}

#nav li a:hover{
  background: orange;
}

#nav li a p{
  text-align: center;
  color:#fff;
  margin-top: 19px;
}


/*color de fondo*/


#container
{
width: 1300px;
margin:auto;
margin-top: 20px;
margin-bottom: 20px;

}

 #contenido
            {
            width: 70%;
            height: auto;
            float: right;
            background-color: #006680;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 4%;

 }

 #contenido h1{
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  margin-top: 4%;
 }

#contenido h2
                {
                    font-size: 30px;
                    text-align: center;
                    line-height: 500px;
                    
                    }
        
                    .header_logo {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                          
                          
                      }
                      
                    
                      
aside           
{
    width: 250px;
    height: 500px;
    background-color: #b3b3b3;
    margin-top: 5%;
    float: left;
     margin-left: 3%;
    text-align: center;
    
    }

 
.articulo        
{
    height: 500px;
    width: 96%;
    margin: 1em;
    background-color: aliceblue;
    text-decoration: none; color: black;
   

    
    }


        footer{
            background: #004669;
            width: 100%;
            height: 32px;
            margin-top: 5%;
            display:inline-table;
   }

   footer p{
    color: #fff;
    text-align: center;
   }

.redes{
  margin-left: 40%;
}
footer img{
  height: 35px;
  width: 35px;
  margin-left: 5%;
}
